extends ../../layouts/default.pug 

block main
    .hero-section
        .container.text-center
            img.hero-pig(src="/images/pig-logo1.png", alt="Pig Mascot")
            h1.hero-title Chào mừng đến với Shop của Phương!
            p.hero-desc Nơi cung cấp những sản phẩm dễ thương, chất lượng và ngập tràn màu hồng dành riêng cho bạn.
            a.btn.btn-hero-pink(href="/products") Khám phá sản phẩm ngay